body { margin: 0; }

.content { width: 100%; height: 100%; position: absolute; }

.item { width: 150px; height: 100px; margin: 50px 0 0 50px; background-color: #ab9b9b; float:left; text-align: center; line-height: 100px; text-decoration: none; font-size: 20px; }


.javascript { background-color: #7dc580; color: #09750d; cursor: pointer; }
.c-lan { background-color: #7dc580; color: #09750d; cursor: pointer; }
.go-lan { background-color: #7dc580; color: #09750d; cursor: pointer; }
.linux { background-color: #7dc580; color: #09750d; cursor: pointer; }
.bash { background-color: #7dc580; color: #09750d; cursor: pointer; }







